[submodule "llm_oracle/upstream/percolator"]
	path = llm_oracle/upstream/percolator
	url = https://github.com/aeyakovenko/percolator.git

[submodule "llm_oracle/upstream/percolator-match"]
	path = llm_oracle/upstream/percolator-match
	url = https://github.com/aeyakovenko/percolator-match.git

[submodule "llm_oracle/upstream/percolator-prog"]
	path = llm_oracle/upstream/percolator-prog
	url = https://github.com/aeyakovenko/percolator-prog.git

[submodule "openclawd"]
	path = openclawd
	url = https://github.com/x402agent/openclawd-stack-publish.git

[submodule "my-project-public"]
	path = my-project-public
	url = gitlawb://did:key:z6Mkq5mY3JWtxoxUobWcfNHm7AkRubgSWEZTkBVqZXJviFZ5/my-project-public

[submodule "my-project-public-fresh"]
	path = my-project-public-fresh
	url = gitlawb://did:key:z6Mkq5mY3JWtxoxUobWcfNHm7AkRubgSWEZTkBVqZXJviFZ5/my-project-public

[submodule "pay"]
	path = pay
	url = https://github.com/x402agent/pay.git

[submodule "ultra"]
	path = ultra
	url = https://github.com/mawdbot/UltraThink-SKill.git
